<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to the EJS Learning Page</h1>
        <form action="/" method="post">
            <input type="text" name="pName" id="pName" placeholder="Enter your Programming Name">
            <button type="submit">Save</button>
        </form>
        <ul>
            <%if(programs.length>0){%>
            <li><%=programs%></li>
            <%}else{%>
                <p>No Data Found</p>
            <%}%>
        </ul>
    </main>
    <footer>
        <p>&copy;ekRoni</p>
    </footer>
</body>

</html>