<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="/" method="post">
        <input type="text" name="pName" id="pName" placeholder="Enter your Programming Name">
        <button type="submit">Save</button>
    </form>
    <ul>
        <li><%=programs%></li>
    </ul>
    <p>&copy;ekRoni</p>
</body>
</html>
